/* navbar.css */

/* Stile per la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  /* Stile per il logo nella navbar */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  /* Stile per i link nella navbar */
  .navbar-nav {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffcc00;
  }
  
  /* Stile per il pulsante di ricerca */
  .search-input {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    width: 200px;
  }
  
  /* Stile per il bottone di ricerca */
  .search-button {
    border: none;
    background-color: #ffcc00;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #ffd633;
  }
  